/* body {
  background-color: #fdfdfd;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
} */

/* Apply Tajawal for Arabic text */
h5,
input,
button {
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
}

.head {
  margin: 10px auto;
}
.gradient-btn {
  background: #e9e9e9;
  border: none;
  width: 40px;
  height: 40px;
}

.gradient-btn:hover {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: #fff;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 70px;
}

.pagination-container button {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pagination-container button:hover {
  background-color: #e9ecef;
}

.pagination {
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  border-radius: 100px;
}
.page-item {
  margin: 0;
}
.pagination .page-item .page-link {
  color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin: 0 5px;
}

.pagination .page-item.active .page-link {
  background-color: #0d6efd;
  color: #fff;
}

.pagination .page-item .page-link:hover {
  background-color: #e9ecef;
  color: #000;
}
.pagination .page-item.active .page-link:hover {
  background-color: #0d6efd;
  color: #fff;
}

.underline {
  width: 30px;
  height: 3px;
  border-radius: 2px;
}

.input-group {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.input-group-text {
  background-color: transparent;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}

.form-control {
  border: none;
  box-shadow: none;
  padding-left: 10px;
}

.form-control::placeholder {
  color: #aaa;
  font-size: 0.9rem;
}

h5 {
  font-size: 1.2rem; /* Adjust as per design */
}

input::placeholder {
  font-size: 0.9rem;
  font-weight: 400;
  color: #aaa;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 70%;
}

li {
  /* direction: ltr; */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
}

label {
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 5px;
}

input[type="checkbox"] {
  margin-left: 10px;
}

.stars i {
  margin-right: 2px;
}

.text-warning {
  color: #ffc107 !important; /* Star color */
}

label {
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
}

input[type="radio"] {
  margin-right: 10px;
}
.radio-rating {
  display: block !important;

  z-index: 1 !important;
  width: 20px !important;
  border-radius: 50% !important;
}