$prefix: 'custom-';
$input-border-color: var(--#{$prefix}border-color);

.form-control {
  border: 1px solid $input-border-color;
}

:root {
  --custom-border-color: blue;
<<<<<<< HEAD
}
=======
}
>>>>>>> 863d84057840f41d0bbb9e26f85951cf758d186d
